 <header class="header">
	<div class="container">
		
		<div class="col-md-3">
		<a class="logo" href="#"><img src="http://streamingmuseum.org/assets/uploads/GoogleLogo-web.jpg" alt="sachinkul6185@gmail.com" /></a>
		</div>
		<div class="col-md-9">
		<div class="navgation">
			<ul>
			<li class="non-mega"><a href="#">Home</a></li>
			<li class="currnt-menu-item"><a href="#">service</a></li>
			<li class="non-mega"><a href="#">Conatct us</a>
			
					<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Delhi</a></li>
				<li><a href="#">Mumbai</a>
									<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Chennai</a></li>
				<li><a href="#">Hospital</a></li>		
				<li><a href="#">Bollywood</a></li>
				<li><a href="#">Sahrukah khan</a>
					
				</li>
				<li><a href="#">Passport</a></li>
				</ul>

				</li>		
				<li><a href="#">Indian</a></li>
				<li><a href="#">US /Uk</a></li>
				<li><a href="#">GULF</a></li>
				</ul>
			</li>
			<li class="non-mega"><a href="#">Conatct</a></li>
			<li class="non-mega"><a href="#">Blog</a></li>
			<li class="mega" ><a href="#">Service</a>
				<ul class="mega-menu-store">
				<li>
						<h2>Custom heading</h2>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						
				</li>
				<li>
						<h2>Custom heading</h2>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						
						
				</li>
				<li>
						<h2>Custom heading</h2>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						
						
				</li>
				<li>
						<h2>Custom heading</h2>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						<a href="#"><i class="fa fa-plane" aria-hidden="true"></i> Service</a>
						
						
				</li>
				
				
				</ul>
			</li>
			<li class="non-mega"><a href="#">Service</a></li>
			<li class="non-mega"><a href="#">Package</a>
			<ul>
				<li><a href="#">Service</a></li>
				<li><a href="#">Tea Service</a></li>
				<li><a href="#">Bahubali</a></li>
				<li><a href="#">Login</a></li>
				<li><a href="#">Member</a></li>
				<li><a href="#">Minister</a></li>
				</ul>
			</li>
			<li class="non-mega"><a href="#">Minister</a></li>
			</ul>
		</div>
		</div>
	
	</div>
    </header>
